body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-cog {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}


/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  /*
  Credit:
  http://www.dafont.com/a-dripping-marker.font
  */
  font-family: adrip1;
  src: url('/fonts/adrip1.ttf');
}




body {
  background: #C5C5C5;
}

#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 960px;
  height: 100vh;
}

#wrapper sidebar {
  flex: 1 20%;
  padding-top: 40px;
  background: black;
}

#wrapper sidebar h1:before {
  content: '';
  display: block;
  height: 120px;
  background: url('/images/raccoon.png') top center no-repeat;
  background-size: 80% auto;
}

#wrapper sidebar h1 {
  font-family: adrip1;
  color: #E1E1E1;
  text-align: center;
}

#wrapper sidebar .menu ul {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
}

#wrapper sidebar .menu ul li a {
  display: block;
  padding-left: 3.6em;
  padding-bottom: 1em;
  font-family: monospace;
  font-size: 1.1em;
  color: #C9C9C9;
}

#wrapper #main-content {
  flex: 1 70%;
  padding-top: 40px;
}
